.commit-name{
  color: white;
  text-decoration: none;
  list-style: none;
}

.commit-ul{
  /* background-color:red; */
  display: flex;
  justify-content: center;
}

.commit-voltar{
  padding: 20px;
  background-color: #7074e0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #383838;
}

.commit-voltar:hover{
  background-color: #383838;
  color: #7074e0;
  text-decoration: none;
}

.search-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.banana{
  border-radius: 30px;
}