body{
  background-color: #222222;
}
.repositories-ul{
  /* background-color:red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.repositories-list{
  /* background-color:blue; */
  background-color: #383838;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  list-style: none;
  width: 400px;
  height: 80px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
}

.repositories-list:hover{
  background-color: #7074e0;
  color: #383838;
}

.repositorie-name{
  color: #7074e0;
  text-decoration: none;
}

.repositorie-name:hover{
  text-decoration: none;
}
